html{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    background-color: palegoldenrod;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: hotpink;
    text-shadow: 3px 3px 2px darkmagenta;
}

p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body{
    width: 700px;
    margin: 0 auto;
    background-color: palegoldenrod;
    padding: 0 20px 20px 20px;
}

img{
    display: block;
    margin: 5px auto;
    width: 600px;
}
